@font-face {
  font-family: "Servabit Brand";
  src: url("YgroSansBeta-Book.eot") format("eot"), url("YgroSansBeta-Book.woff") format("woff"), url("YgroSansBeta-Book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}